* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: brown;
}

body {
  font-family: 'poppins-regular';
  font-size: 10.5pt;
}
